/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';













































.formView {
	background-color: #aecfd8;
	color: #2f1d19;
}
.whoisyou {
	font-size: 45px;
	margin: 30px;
}
.whoisyou span {
	padding: 12px;
}
.whoisyou input {
	height: 30px;
}




















